.partnerImage {
	width: 100%;
	margin-top: 30px;
	border-radius: 12px;
	box-shadow:1px 1px 4px -1px rgba(0,0,0,0.3);
	background: #ccc;
	padding:15px;
}
.fileInput {
	display: block;
    margin: auto;
    background: #009688;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 1px 1px 4px -1px rgb(0 0 0 / 30%);
    color: #fff;
    outline:none;
}
.generateButton {
	border:none;
	cursor:pointer;
	background: #8bc34a;
	color:#fff;
	display: inline-block;
	margin:auto;
	border-radius: 12px;
	padding:8px 16px;
	font-size:14px;
	margin:15px 0px 0px;
	font-weight: 500;
	box-shadow:1px 1px 4px -1px rgba(0,0,0,0.2);
	outline:none;
}