.BackgroundSelector {
	list-style-type: none;
	margin: auto;
	display: inline-block;
	padding: 0px;
}
.BackgroundSelector li {
	float: left;
	margin:0px 15px;
}
.BackgroundSelector li img {
	width:200px;
	box-shadow:1px 1px 4px rgba(0,0,0,0.3);
	border-radius: 4px;
	cursor:pointer;
}
.BackgroundSelector li img:hover {
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
}