@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&subset=latin,latin-ext');

.App {
	text-align: center;
	width:600px;
	margin: auto;
	background: #f8f8f8;
	padding:60px;
	box-sizing: border-box;
	margin-top: 30px;
	box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.2);
	border:1px solid #dddddd;
	border-radius: 0px;
}
.appTitle {
	font-family: 'Montserrat', serif;
	font-size: 28px;
	font-weight: 500;
	margin:0px;
}
.subTitle {
	font-family: 'Montserrat', serif;
	font-size: 18px;
	font-weight: 500;
	margin:0px;
	margin-bottom: 15px;
}
.currentStep {
	background: #03a9f4;
	color:#fff;
	display: inline-block;
	margin:auto;
	border-radius: 12px;
	padding:8px 16px;
	font-size:14px;
	margin:15px 0px;
	font-weight: 500;
	box-shadow:1px 1px 4px -1px rgba(0,0,0,0.2);
}
.backButton {
	border:none;
	cursor:pointer;
	background: #666666;
	color:#fff;
	display: inline-block;
	margin:auto;
	border-radius: 12px;
	padding:8px 16px;
	font-size:14px;
	margin:15px 0px 0px;
	font-weight: 500;
	box-shadow:1px 1px 4px -1px rgba(0,0,0,0.2);
	outline:none;
}
hr {
	border:none;
	border-top: 1px solid #eee;
	margin:15px 0px;
}